body{
    font-family: sans-serif;
    background-color: black;
    z-index: 0;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
    z-index: 100;
}
li
{
    float: left;
    z-index: 100;
}
li a, .dropBtn
{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
}
li a:hover, .dropDown:hover .dropBtn
{
    background: #786BDE;
    z-index: 100;
}
li.dropDown
{
    display: inline-block;
    z-index: 100;
}
.dropDownContent
{
    display:none;
    position: absolute;
    background: #333;
    min-width: 107px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
.dropDownContent a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 100;
}
.text1{
    background-color: #FFa71a;
}
.dropDownContent a:hover
{
    background: #d7d2ff;
    z-index: 100;
}
.dropDown:hover .dropDownContent
{
    display: block;
    z-index: 100;
}

#header{
    position: absolute;
    top: 0px;
    background-color:black;
    width: 100%;
    left: 0px;
    text-align: center;
    font-size: 15px;
    z-index: 100;
    margin: 0;
    height: 4%;
} 
#center{
    position: absolute;
    top: 4%;
    background-color:#FFa71a;
    width: 100%;
    height: 65%;
    left: 0px;
    z-index: 3;
    text-align: center;
    margin: 0;
}
#footer{
    position: absolute;
    bottom: 0px;
    background-color: #333;
    width: 100%;
    height: 34%;
    left: 0;
    text-align: center;
    margin: 0;
}
<<<<<<< HEAD
.TeamBoxContainer{
    width: 100%;
    height: 77%;
    background-color: #FFa71a;    
    text-align: left;
    word-wrap: break-word;
}
=======

>>>>>>> 4b1e9c7cffbe335d642ae7943818d81e9c3024ce
.newCard{
    position: relative;
    width: 20%;
    
    margin: 0;
    text-align: center;
    background-color: gray;
    border: outset black 2px;
    border-radius: 25px;
    display: inline-block;
    z-index: 1000;
}









