body {
    font-family: sans-serif;
    margin: 0;
    background: white;
}
#header {
    background: #03acef;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    height: 90px;
    position: relative;
}
#profileImgDiv {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
}
#profileImg{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImgDiv {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImg:hover {
    opacity: 0.5;
    cursor: pointer;
}
#profileImg:hover {
    opacity: 0.5;
    cursor: pointer; 
}
#txtMiddle {
    width: 100px;
    height: 60px;
    border-radius: 50%;
}
#taskitCenter{
    position: absolute;
    top: 60px;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
}
#txtMiddle:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: turquoise;
    z-index: 1;
    position: absolute;
    padding: 9px 9px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: red;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  

.headerElements {
    flex: 0 1 100%;
}
.headerElements h1 {
    margin: 0;
}
@media (min-width: 450px) {
    .headerElements {
      flex: 0 1 44%;
    }
}
@media (min-width: 1300px) {
    .headerElements {
      flex: 0 1 48%;
    }
}
nav {
    flex: 0 1 100%;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
@media (min-width: 450px) {
    nav {
      flex: 0 1 56%;
    }
    
}
@media (min-width: 1300px) {
    nav {
      flex: 0 1 52%;
    }
}
button {
    top: 16px;
    background: transparent;
    border: 1px solid white;
    width: 60px;
    height: 60px;
    color: white;
}
button {
    background: transparent;
    border: 1px solid red;
    width: 60px;
    height: 60px;
    color: white;
    margin: 0;
    padding: 0;
}
button:hover {
    background: white;
    color: #aaa;
    cursor: pointer;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

#center {
    position: absolute;
    top: 90px;
    width: 100%;
    height: 60%;
    text-align: center;
    margin: 0;
}
#footer {
    position: absolute;
    bottom: 0px;
    background-color: #e0fbff;
    width: 100%;
    height: 40%;
    left: 0;
    text-align: center;
    margin: 0;
}
.newCard{
    position: relative;
    width: 20%;
    height: 120px;
    margin: 0;
    text-align: center;
    background-color:#797979;
    border: outset black 2px;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    font-size: 30px;
    overflow: hidden;
}

#createNewTable {     
    left: 50%;     
    position: absolute;     
    background-color: #c3f3ff;
    text-align: center;
    top: 50%;
    border: none;     
    width: 650px;
    height: 300px;          
    font-size: 16px;     
    opacity: 0.6;     
    transition: 0.3s;     
    display: inline-block;     
    text-decoration: none;     
    cursor: pointer;     
    margin: 0; 
    border-radius: 15px 15px 15px 15px;
    margin-left: -325px;
    margin-top: -150px;
    cursor: pointer;
}

#createNewTable:hover {
    opacity: 1
}

#inputTableName {
    height: 70px;
    width: 400px;
    left: 70px;
    top: 110px;
    position: absolute;
    border: none;
    border-radius: 10px 20px 10px 20px;
    outline: none;
    text-align: center;
    font-size: 40px;
    opacity: 0;
    display: none;
}

#confirmTableName {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: white;
    font-size: 80px;
    position: absolute;
    left: 500px;
    top: 95px;
    outline: none;
    opacity: 0;
    cursor: pointer;
    display: none;
}

#plusSign {
    cursor: pointer;
}

#plusHorizontal {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 140px;
    background-color: black;
    top: 50%;
    left: 50%;
    opacity: 1;
    margin-left: -70px;
    margin-top: -10px;
    border-radius: 7px 7px 7px 7px;
}
#plusVertical {
    cursor: pointer;
    position: absolute;;
    width: 20px;
    height: 140px;
    background-color: black;
    top: 50%;
    left: 50%;
    opacity: 1;
    margin-left: -10px;
    margin-top: -70px;
    border-radius: 7px 7px 7px 7px;


}
.color {
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 200px;
}

#blue {
    left: 180px;
    background-color: #1aabd8;
    opacity: 0;
    display: none;
}

#red {
    left: 120px;
    background-color: #ef5181;
    opacity: 0;
    display: none;
}

#orange {
    left: 240px;
    background-color: #fcb71e;
    opacity: 0;
    display: none;
}

#purple {
    left: 300px;
    background-color: #8e56a1;
    opacity: 0;
    display: none;
}

#green {
    left: 360px;
    background-color: #bbdb19;
    opacity: 0;
    display: none;
}

#settingsBox{
    opacity: 0.0;
    position: absolute;
    top: 80%;
    left: 39%;
    width: 400px;
    height: 200px; 
    background-color: #EEEEEE;
    z-index: 1;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;

}
#checkBoxBtn{
    height: 40px;
    width: 80px;
    border:2px solid white;
    border-radius: 4px;
    outline:none;
    padding:8px;
    position: relative;
    top: 90px;
    left: -20px;
    border: solid black 1px;
}
#closeBtn{
    color:black;
}
#checkDarkMode{
    position: relative;
    height: 20px;
    width: 20px;
    top: 17px;
    left: 130px;
}
#txtDarkMode{
    color: black;
    position: relative;
    top: 56px;
}

