body{
    font-family: sans-serif;
    background-color: #e0fbff;
    z-index: 0;
    margin: 0;
}
#header {
    background: #03acef;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 1px 0;
}


button {
    top: 16px;
    background: transparent;
    border: 1px solid white;
    width: 60px;
    height: 60px;
    color: white;
}
#homeImgDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 10;
}
#homeImg{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
#homeImg:hover{
    opacity: 0.5;
    cursor: pointer;
}
#profileImgDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#dropDown{
    position: relative;
    display: inline-block;
}
#dropDownContent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}
#dropDown:hover #dropDownContent{
    display: block;
}
@media (min-width: 550px) {
    #header {
      padding: 0 16px;
    }
}
.headerElements {
    flex: 0 1 100%;
}
.headerElements h1 {
    margin: 0;
}
@media (min-width: 550px) {
    .headerElements {
      flex: 0 1 50%;
    }
}
@media (min-width: 1300px) {
    .headerElements {
      flex: 0 1 50%;
    }
}
nav {
    flex: 0 1 100%;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (min-width: 550px) {
    nav {
      flex: 0 1 50%;
    }
    
}
@media (min-width: 1300px) {
    nav {
      flex: 0 1 50%;
    }
}
button {
    background: transparent;
    border: 1px solid red;
    width: 60px;
    height: 60px;
    color: white;
    margin: 0;
    padding: 0;
}
button:hover {
    background: white;
    color: #aaa;
    cursor: pointer;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

li a, .dropBtn
{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    z-index: 100;
}
li a:hover, .dropDown:hover .dropBtn
{
    background: #786BDE;
    z-index: 100;
}
li.dropDown
{
    display: inline-block;
    z-index: 100;
}
.dropDownContent
{
    display:none;
    position: absolute;
    background: #333;
    min-width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
.dropDownContent a
{
    color: black;
    padding: 20px 22px;
    text-decoration: none;
    display: block;
    z-index: 100;
}
.dropDownContent a:hover
{
    background: #d7d2ff;
    z-index: 100;
}
.dropDown:hover .dropDownContent
{
    display: block;
    z-index: 100;
}

#center{
    position: absolute;
    top: 10%;
    background-color: #ffffff;
    width: 100%;
    height: 60%;
    z-index: 3;
    text-align: center;
    margin: 0;
}
#footer{
    position: absolute;
    bottom: 0px;
    background-color: #e0fbff;
    width: 100%;
    height: 40%;
    left: 0;
    text-align: center;
    margin: 0;
    z-index: 100;
}
.newCard{
    position: relative;
    width: 20%;
    height: 120px;
    margin: 0;
    text-align: center;
    background-color:#CCf3ff;
    border: outset black 2px;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    z-index: 1000;
    font-size: 30px;
    overflow: hidden;
}

#createNewTable {     
    left: 50%;     
    position: absolute;     
    background-color: #c3f3ff;
    text-align: center;
    top: 50%;
    border: none;     
    color: white;
    width: 650px;
    height: 300px;      
    text-align: center;     
    font-size: 16px;     
    opacity: 0.6;     
    transition: 0.3s;     
    display: inline-block;     
    text-decoration: none;     
    cursor: pointer;     
    margin: 0; 
    border-radius: 15px 15px 15px 15px;
    margin-left: -325px;
    margin-top: -150px;
    cursor: pointer;
  }

#createNewTable:hover {opacity: 1}

#inputTableName{
    z-index: 1200;
    height: 70px;
    width: 400px;
    left: 70px;
    top: 110px;
    position: absolute;
    border: none;
    border-radius: 10px 20px 10px 20px;
    outline: none;
    text-align: center;
    font-size: 40px;
    opacity: 0;
}

#confirmTableName{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: white;
    font-size: 80px;
    position: absolute;
    left: 500px;
    top: 95px;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

#plusSign{
    z-index: 100;
    cursor: pointer;
}

#plusHorizontal{
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 140px;
    background-color: black;
    z-index: 120;
    top: 50%;
    left: 50%;
    opacity: 1;
    margin-left: -70px;
    margin-top: -10px;
    border-radius: 7px 7px 7px 7px;
}
#plusVertical{
    cursor: pointer;
    position: absolute;;
    width: 20px;
    height: 140px;
    background-color: black;
    z-index: 120;
    top: 50%;
    left: 50%;
    opacity: 1;
    margin-left: -10px;
    margin-top: -70px;
    border-radius: 7px 7px 7px 7px;


}
.color{
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 100;
    top: 200px;
    z-index: 100;
}

#blue{
    left: 180px;
    background-color: #1aabd8;
    opacity: 0;
}

#red{
    left: 120px;
    background-color: #ef5181;
    opacity: 0;
}

#orange{
    left: 240px;
    background-color: #fcb71e;
    opacity: 0;
}

#purple{
    left: 300px;
    background-color: #8e56a1;
    opacity: 0;
}

#green{
    left: 360px;
    background-color: #bdd549;
    opacity: 0;
}

