body{
    position: fixed;
    background-color: rgb(224,251,255);
    left: 0px; 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


#backgroundLeft{
    position: absolute;
    height: 100%;
    width: 73%;
    padding: 0;
    margin: 0;
}

#rightBox{
    z-index: 0;
    position:absolute;
    background-color: #e0fbff;
    position: absolute;
    height: 100%;
    width: 30%;
    left: 70%;
    top: 0px;
    padding: 0;
    margin: 0;
}

#loginField{
    position: absolute;
    height: 100%;
    width: 40%;
    left: 80%;
    top: 30%;
    margin: 0;
}

#logo{
    height: 300px;
    position: absolute;
    top: -180px;
    left: -38px;
    height: 222px;
    width: 222px;
}


.inputFields{
    height: 20px;
    z-index: 20;
    margin:0;
    position: absolute;
    transform: scale;
    widows: 150px;
    border: 2px solid white;
    border-radius: 4px;
    outline: none;
    padding:8px;
    text-align: center;
}


#inputUsername{
    top: 0px;;
    left: 0px;
    width: 158px;
}

#inputPassword{
    top:45px;
    left: 0px;
    width: 158px;
}

#loginButton{
    widows: 150px;
    width: 100px;
    border:2px solid white;
    background-color: white;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    position: absolute;
    top: 82px;
    left: 78px;
}


<!-- #signUp{
    widows: 150px;
    border:2px solid rgb(20, 270, 20);
    border-radius:4px;
    background-color: rgb(20, 270, 20);
    margin:8px 0;
    outline:none;
    padding:8px;
    position: absolute;
    top: 82px;
    width: 75px;
    left: 0px;
}


#signupForm{
    opacity: 0.0;
    z-index: 100;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 80%;
    margin: 0;
}

#inputUsername_Signup{
    width: 158px;
    height: 20px;
    left: 0px;
    top: 100px;
}

#inputEmail_Signup{
    width: 158px;
    height: 20px;
    left: 0px;
    top: 145px;
}

#inputPassword_Signup{
    width: 158px;
    height: 20px;
    left: 0px;
    top: 190px;
}

#inputConfirmPassword_Signup{
    width: 158px;
    height: 20px;
    left: 0px;
    top: 235px;
    
}

#register_Signup{
    width: 178px;
    height: 30px;
    top: 280px;
    left: 0px;
    border-color: rgb(20, 270, 20);
    background-color: rgb(20, 270, 20);
}
#registerText{
    top: -19px;
    position: absolute;
    left: 50px;
    font-size: 20px;  
}

#circle_Signup{
    z-index: 100;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 155px;
    top: 250px;
    z-index: 1000;
    background-color: red;
    margin: 0;
    padding: 0;
    opacity: 0.0;
}

#regFeedback_Signup{
    position: absolute;
    top: 300px;
    left: 20px;
}