body{
    background-color: #CCF3FF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Header start */
#header {
    background: #03acef;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    height: 90px;
}
#profileImgDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#profileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImgDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImg:hover{
    opacity: 0.5;
    cursor: pointer;
}
#profileImg:hover{
    opacity: 0.5;
    cursor: pointer; 
}
#txtMiddle{
    width: 100px;
    height: 60px;
    border-radius: 50%;
}
#txtMiddle:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    background-color: ;
    z-index: 1;
    position: absolute;
    padding: 9px 9px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #03acef;
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
    margin: 0;
    padding-top: 5px;  
}
@media (min-width: 550px) {
    #header {
      padding: 0 16px;
    }
}
.headerElements {
    flex: 0 1 100%;
}
.headerElements h1 {
    margin: 0;
}
@media (min-width: 450px) {
    .headerElements {
      flex: 0 1 44%;
    }
}
@media (min-width: 1300px) {
    .headerElements {
      flex: 0 1 48%;
    }
}
nav {
    flex: 0 1 100%;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 450px) {
    nav {
      flex: 0 1 56%;
    }
    
}
@media (min-width: 1300px) {
    nav {
      flex: 0 1 52%;
    }
}
button {
    background: transparent;
    border: 1px solid red;
    width: 60px;
    height: 60px;
    color: white;
    margin: 0;
    padding: 0;
}
button:hover {
    background: white;
    color: #aaa;
    cursor: pointer;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

.text{
    margin: 0;
}


/* Popup Start */
.popupContainer{
    display: none;
    position: fixed;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

.popupWindow{
    background-color: #EDFBFF;
    margin: auto;
    padding: 1% 0.5% 1% 0.5%;
    border: 1px solid #888;
    border-radius: 15px;
    width: 300px;
    display: inline-block;
}

.popInput{
    width: 228px;
    height: 44px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    float: left;
}

.enter{ 
    padding-right: 3.5%;
    color: #aaaaaa;
    float: left;
    font-size: 250%;
    font-weight: bold;
}

.enter:hover,
.enter:focus{
    color: #33CC00;
    text-decoration: none;
    cursor: pointer;
}

.close{
    color:#aaaaaa;
    float: right;
    font-size: 250%;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}
/* Popup End */
/* Edit window start */
.editPopContainer{
    display: none;
    position: fixed;
    
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

.editPop{
    background-color: #EDFBFF;
    margin: 0;
    padding: 0;
    padding: 1.1%;
    border: 1px solid #888;
    border-radius: 15px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.editInput{
    width: 100%;
    height: 41px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
}

#editEnter{
    position: relative;
    top:0;
    font-size: 250%;
}

#editClose{
    position: relative;
    top: 0;
    font-size: 250%;
}

/* active card in edit window */
.editCardName{
    position: relative;
    font-size: 20px;
    left: 10%;
    top: -10px;
    width: 70%;
    text-align: center;
}

#deleteCardContainer{
    margin:0;
}

#deleteCard{
    float: right;
    width: 85%;
}

#deleteIcon{
    float: left;
    font-size: 150%;
}

#deleteIcon:hover{
    color: red;
    font-weight: bold;
}

/* Edit window end */

#newCardButtonContainer{
    width: 110px;
    height: 110px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#newCardButton{
    font-size: 100px;
}

.tableContainer{
    position: absolute;
    background-color: #CCF3FF;
    
    padding: 10px;
    width: 90%;
    left: 5%;
    
    display: flex;
    flex-wrap: wrap;
}

.cards{
    position: relative;
    background-color: #ffffff;
    border: 1px solid #888;
    border-radius: 10px;
    
    margin: 1%;
    padding: 1%;
    width: 225px;
    height: 100%; 

    font-size: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.newCardName{
    position: relative;
    top: 20px;
}

.stars{
    position: absolute;
    font-size: 180%;
    align-self: flex-start;
    top: 0px;
    left: 13px;
}

#currentStar{
    color: #FFCC00;
}

.stars:hover{
    color: #FFCC00;
}

.orderInputContainer{
    position: relative;
    
    margin-top: 5px;
    /* margin-bottom: 5px; */
    height: 35px;
    width: 100%;

    display: flex;
    float: left;
    text-align: center;
}

.orderInput{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
}

#orderEnter0,
#orderEnter1,
#orderEnter2,
#orderEnter3,
#orderEnter4{
    position: relative;
    font-size: 200%;
    padding-left: 1%;
    bottom: 18%;
}

.orders{
    position: relative;
    background-color: #EBFFC1;
    border: 1px solid #888;
    border-radius: 5px;

    margin-top: 3%;
    margin-left: 1%;
    padding-top: 2%;
    width: 97.5%;

    text-align: left;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.orderName{
    font-size: 20px;
    text-align: left;
    margin-left: 2%;
}

.orderScore{
    position: relative;
    font-size: 14px;
    text-align: left;
    margin-left: 2%;
    bottom: -10px;
}

.edit{
    position: absolute;
    align-self: flex-end;
    top: 6px;
    right: 10px;
    font-size: 25px;
}

.edit:hover{
    color: #888;
    cursor: pointer;
}

.hold{
    border: dashed 2px #888;
}

.hovered {
    border-color: #888;
    border-style: dashed;
}

.invisible{
    display: none;
}







#number{
    font-size: 100px;
    font-style: bold;
}

#mainContainer{
    filter: blur(0px);
    position: absolute;
    top: 0px;
    
}

#backgroundImg{
    height: 900px;
}

#dropDown_Score{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 35%;
    width: 400px;
    height: 400px;
    border-radius: 10px 10px 10px 10px;
    z-index: 10;
    opacity: 0;
    z-index: 200;
    border: solid black 2px;
    display: none;
}


.scoreboard{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}

#pointsText{
    font-size: 40px;
    left: 65px;
    top: 20px;
}

#userPoints{
    font-size: 100px;
    left: 170px;
    top: 0px;
    text-align: center;
}


#line{
    width: 300px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 220px;
    left: 50px;
}

#pointsText2{
    font-size: 35px;
    left: 55px;
    top: 300px;
}
#pointsEarned{
    font-size: 100px;
    left: 100px;
    top: 120px;
}
