body{
    background-color: white;
    z-index: 0;
    margin: 0;
}

#header {
    top: 0px;
    margin: 0;
    background: #03acef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0;
  }
#profile {
    border-radius: 50%;
}
@media (min-width: 550px) {
    #header {
      padding: 0 1rem;
    }
  }
.kanban {
    flex: 0 1 100%;
  }
.kanban h1 {
    margin: 0;
  }
@media (min-width: 550px) {
    .kanban {
      flex: 0 1 60%;
    }
}
@media (min-width: 1300px) {
    .kanban {
      flex: 0 1 75%;
    }
}
nav {
    flex: 0 1 100%;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: rgba(255, 255, 255, 0.7);
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 550px) {
    nav {
      flex: 0 1 40%;
    }
    nav ul {
      justify-content: space-around;
    }
}
@media (min-width: 1300px) {
    nav {
      flex: 0 1 25%;
    }
}
button {
    background: transparent;
    border: 1px solid white;
    width: 60px;
    height: 60px;
    color: white;
}
button:hover {
    background: white;
    color: #aaa;
    cursor: pointer;
    opacity: 0.5;
}
#profileImgDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 10;
}
#profileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#profile {
    top: 16px;
    position: absolute;
    border-radius: 50%;
}
.teamBoxContainer{
    width: 98%;
    /*height: 70%;*/
    margin-top: 1%;
    padding: 1%;
    background-color: #c3f3ff; 
    text-align: justify;
    word-wrap: break-word;
    position: relative;
    display: inline-block;
}


#MainBox{
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; 
    z-index: 2;   
    display: flex;
    flex-direction: column;
}

#newTeamButton{
    margin-top: 17px;
    width: 400px;
    border-radius: 0px 10px 10px 0px;
    height: 140px;
    position: absolute;
    background-color: #c3f3ff;
    z-index: 10;
    opacity: 0.6;
    transition: 0.3s;
    outline: 10px;
    outline-width: 1px;
    cursor: pointer;
}


#createTeamText{
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 30px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#teamName{
    border-radius: 10px 10px 10px 10px;
    outline: none;
    border: none;
    height: 60px;
    width: 240px;
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 30px;
    text-align: center;
    background-color: white;
    opacity: 0;
}

#confirmTeamName{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: white;
    font-size: 80px;
    position: absolute;
    left: 280px;
    top: 20px;
    outline: none;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    text-align: center;
}

.color{
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 100;
    top: 85px;
    opacity: 0;
}


#blue{
    left: 65px;
    background-color: #1aabd8; 
}

#red{
    left: 20px;
    background-color: #ef5181;

}

#orange{
    left: 110px;
    background-color: #fcb71e;
}

#purple{
    left: 155px;
    background-color: #8e56a1;
}

#green{
    left: 200px;
    background-color: #bdd549;
}



.buttons{
    position: relative;
    display: inline-block;
}

.newTeamButton{
    align-self: auto;
}

.teamName{
    position: relative;
    margin: 1%;
};

.newCardButton{
    position: relative;
    width: 25px;
    height: 25px;
    float: right;
}

.newTeamButton{
    position: relative;
    align-self: center;
    height: 5%;
    width: 10%;
}

.newCard{
    position: relative;
    width: 200px;
    margin-left: 3%;
    text-align: center;
    background-color: #E0FBFF;
    border: outset black 1px;
    border-radius: 10px;
    display: flex;
    float: left;
    flex-direction: column;
}

.newCardName{
    position: relative;
    align-self: center;
}

.newWork{
    position: relative;
    align-self: center;
    width: 100%;
    height: 25px;
    color: black;
    margin-bottom: 1%;
}

.newWorkOrder{
    position: relative;
    width: 100%;
    height: 25px;
    background-color: gray;
    margin-bottom: 1%;
    cursor: pointer;
}


.held {
    border: solid 10px black;
    background-color: black;
  }
  
  .holder {
    height: 110px;
    width: 110px;
    margin: 10px;
    border: solid 5px black;
    background-color: white;
    display: inline-block;
  }
  
  .hovered {
    border: dotted 5px black;
  }
  
  .invisible {
    display: none;
  }
  
  #container {
    margin: auto;
    top: 100px;
    width: 400px;
    position: relative;
  }

  #infoButtonImg{
      width: 1.5%;
      height: 1.5;
      
  }