body{
    background-color: #CCF3FF;
    z-index: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Header start */
#header {
    background: #03acef;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    height: 90px;
}
#profileImgDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#profileImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImgDiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 10;
}
#homeImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
#homeImg:hover{
    opacity: 0.5;
    cursor: pointer;
}
#profileImg:hover{
    opacity: 0.5;
    cursor: pointer; 
}
#txtMiddle{
    width: 100px;
    height: 60px;
    border-radius: 50%;
    z-index: 10;
}
#txtMiddle:hover{
    opacity: 0.5;
    cursor: pointer;
}
@media (min-width: 550px) {
    #header {
      padding: 0 16px;
    }
}
.headerElements {
    flex: 0 1 100%;
}
.headerElements h1 {
    margin: 0;
}
@media (min-width: 450px) {
    .headerElements {
      flex: 0 1 44%;
    }
}
@media (min-width: 1300px) {
    .headerElements {
      flex: 0 1 48%;
    }
}
nav {
    flex: 0 1 100%;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 450px) {
    nav {
      flex: 0 1 56%;
    }
    
}
@media (min-width: 1300px) {
    nav {
      flex: 0 1 52%;
    }
}
button {
    background: transparent;
    border: 1px solid red;
    width: 60px;
    height: 60px;
    color: white;
    margin: 0;
    padding: 0;
}
button:hover {
    background: white;
    color: #aaa;
    cursor: pointer;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

li a, .dropBtn
{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    z-index: 100;
}
li a:hover, .dropDown:hover .dropBtn
{
    background: #786BDE;
    z-index: 100;
}
li.dropDown
{
    display: inline-block;
    z-index: 100;
}
.dropDownContent
{
    display:none;
    position: absolute;
    background: #333;
    min-width: 124px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
.dropDownContent a
{
    color: black;
    padding: 20px 22px;
    text-decoration: none;
    display: block;
    z-index: 100;
}
.dropDownContent a:hover
{
    background: #d7d2ff;
    z-index: 100;
}
.dropDown:hover .dropDownContent
{
    display: block;
    z-index: 100;
}
/* Header end */

.text{
    
}


/* Popup Start */
.popupContainer{
    display: none;
    position: fixed;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

.popupWindow{
    background-color: #EDFBFF;
    margin: auto;
    padding: 1.1%;
    border: 1px solid #888;
    border-radius: 15px;
    width: 300px;
    height: 45px;
}

.popInput{
    width: 240px;
    height: 41px;
    float: left;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.enter{ 
    padding-right: 3.5%;
    color: #aaaaaa;
    float: left;
    font-size: 38px;
    font-weight: bold;
}

.enter:hover,
.enter:focus{
    color: #33CC00;
    text-decoration: none;
    cursor: pointer;
}

.close{
    color:#aaaaaa;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}
/* Popup End */

.editPopContainer{
    display: none;
    position: fixed;
    
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
}

.editPop{
    background-color: #EDFBFF;
    margin: auto;
    padding: 1.1%;
    border: 1px solid #888;
    border-radius: 15px;
    width: 300px;
    height: 45px;
}

#newCardButtonContainer{
    width: 110px;
    height: 110px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#newCardButton{
    font-size: 100px;
}

.tableContainer{
    position: absolute;
    background-color: #CCF3FF;
    
    padding: 10px;
    width: 90%;
    left: 5%;
    
    display: flex;
    flex-wrap: wrap;
}

.cards{
    position: relative;
    background-color: #ffffff;
    border: 1px solid #888;
    border-radius: 10px;
    
    margin: 1%;
    padding: 1%;
    width: 225px;
    height: 100%; 

    font-size: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.orderInputContainer{
    position: relative;
    
    margin-top: 5px;
    /* margin-bottom: 5px; */
    height: 35px;
    width: 100%;

    display: flex;
    float: left;
    text-align: center;
}

.orderInput{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-align: center;
}

#orderEnter0,
#orderEnter1,
#orderEnter2,
#orderEnter3,
#orderEnter4{
    position: relative;
    font-size: 200%;
    padding-left: 1%;
    bottom: 18%;
}

.orders{
    position: relative;
    background-color: #EBFFC1;
    border: 1px solid #888;
    border-radius: 5px;

    margin-top: 3%;
    padding: 1%;
    width: 97.5%;
    height: 40px;

    text-align: left;

    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.edit{
    position: absolute;
    align-self: flex-end;
    top: 6px;
    font-size: 25px;
}

.edit:hover{
    color: #888;
    cursor: pointer;
}

.hold{
    border: dashed 2px #888;
}

.hovered {
    border-color: #888;
    border-style: dashed;
}

.invisible{
    display: none;
}