body{
    background-color: white;
    z-index: 0;
    margin: 0;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #03acef;
    z-index: 100;
}
li
{
    float: left;
    z-index: 100;
}
li a, .dropBtn
{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
}
#header{
    position: relative;
    top: 0px;
    background-color:#03acef;
    width: 100%;
    left: 0px;
    text-align: center;
    font-size: 15px;
    z-index: 100;
    margin: 0;
    height: 4%;
}
.teamBoxContainer{
    width: 98%;
    /*height: 70%;*/
    margin-top: 1%;
    padding: 1%;
    background-color: #D6E0D6; 
    text-align: justify;
    word-wrap: break-word;
    position: relative;
    display: inline-block;
}


#MainBox{
    position: relative;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; 
    z-index: 2;   
    display: flex;
    flex-direction: column;
}

#newTeamButton{
    margin-top: 17px;
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: #e0fbff;
    z-index: 10;
    opacity: 0.6;
    transition: 0.3s;
    outline: dashed;
    outline-width: 1px;
    cursor: pointer;
}


#createTeamText{
    font-size: 100px;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 18%;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#teamName{
    border-radius: 10px 10px 10px 10px;
    outline: none;
    border: none;
    height: 60px;
    width: 450px;
    position: absolute;
    left: 500px;
    top: 35px;
    font-size: 30px;
    text-align: center;
    background-color: white;
    opacity: 0;
}

#confirmTeamName{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    color: black;
    background-color: white;
    font-size: 60px;
    position: absolute;
    left: 980px;
    top: 24px;
    outline: none;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    text-align: center;
}


.buttons{
    position: relative;
    display: inline-block;
}

.newTeamButton{
    align-self: auto;
}

.teamName{
    position: relative;
    margin: 1%;
};

.newCardButton{
    position: relative;
    width: 25px;
    height: 25px;
    float: right;
}

.newTeamButton{
    position: relative;
    align-self: center;
    height: 5%;
    width: 10%;
}

.newCard{
    position: relative;
    width: 200px;
    margin-left: 3%;
    text-align: center;
    background-color: #E0FBFF;
    border: outset black 1px;
    border-radius: 10px;
    display: flex;
    float: left;
    flex-direction: column;
}

.newCardName{
    position: relative;
    align-self: center;
}

.newWork{
    position: relative;
    align-self: center;
    width: 100%;
    height: 25px;
    color: black;
    margin-bottom: 1%;
}

.newWorkOrder{
    position: relative;
    width: 100%;
    height: 25px;
    background-color: gray;
    margin-bottom: 1%;

}