body{
    background-color: #FED7B0;
    z-index: 0;
}

#MainBox{
    top: 0px;
    width: 100%;
    height: 480px;
    background-color: #C0C0C0; 
    z-index: 2;
}

#UpperNavBox{
    top: 0px;
    width: 100%;
    height: 10%;
    margin: 0;
    background-color: #EEEEEE; 
}

.TeamBoxContainer{
    width: 100%;
    height: 50%;
    margin: 0;
    background-color: #FEC8D8;    
    text-align: left;
    word-wrap: break-word;
}

#newCard{
    width: 20%;
    height: 50%;
    margin: 0;
    border: dotted black 2px;
    display: inline-block;
}